<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="title" value='<%= @article.title %>'>
    <input type="text" name="content" value='<%= @article.content %>'>
    <input type="submit" name="submit">
</form>
